<div class="search-item-container">
  <div class="content-container">
    <div class="image-container">
      <img src="{{ videoInfo.image }}" width="100%" />
    </div>
    <app-video-statistics
      *ngIf="videoInfo.statistics"
      [statistics]="preparedStatistics"
    ></app-video-statistics>
    <div class="title-container">
      {{ videoInfo.title }}
    </div>
    <div class="button-container" (click)="onMoreClick()">
      <div class="button-image-container">
        <img src="../../../../../assets/more.svg" />
      </div>
    </div>
  </div>
  <app-publishing-indicator [publishingDate]="videoInfo.publishedAt"></app-publishing-indicator>
</div>
