.video-statistics-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 5px;
}

.statistics-item {
  display: flex;
  margin-left: 10px;
  &.first {
    margin-left: 0;
  }
}

.image-container {
  display: flex;
  margin-right: 2px;
}
