<div class="search-area-container">
  <div class="searching-area">
    <div class="svg-container youtube-logo">
      <img src="../../../../assets/youtube-logo.svg" width="100%" />
    </div>
    <div class="input-container">
      <input class="input" placeholder="What are you want to find out?" />
      <div class="svg-container search-button">
        <img src="../../../../assets/search-button.svg" width="100%" />
      </div>
    </div>
    <div class="svg-container square-button" (click)="onSortingOptionsClick()">
      <img src="../../../../assets/options.svg" width="100%" />
    </div>
  </div>
  <div class="account-info">
    <div class="name">Your Name</div>
    <div class="svg-container square-button">
      <img src="../../../../assets//login.svg" width="100%" />
    </div>
  </div>
</div>
