$text-grey: #929292;
$description-grey: #828282;
$text-black: #4f4f4f;
$text-blue: #2f80ed;
$background-grey: #e5e5e5;
$form-field-grey: #e0e0e0;
$form-field-validator-grey: #c4c4c4;
$form-field-validation-correct: #27ae60;
$form-field-validation-incorrect: #eb5757;
$form-background: #f2f2f2;
$background-blue: #2f80ed;
