@import '../../../../theme/colors.scss';

.search-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting-category-container {
  margin-left: 20px;
  color: $text-blue;
  cursor: pointer;
}

.hint {
  color: $text-grey;
}

.keyword-filter-container {
  display: flex;
  align-items: center;
  .input {
    margin-left: 10px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    color: $text-black;
  }
}
