<div *ngIf="videoInfo" class="description-container">
  <div>
    <img class="back-button" (click)="onBackClick()" src="../../../../assets/back.svg" />
  </div>
  <div class="content-container">
    <div
      class="image-container"
      [style.background-image]="'url(' + videoInfo.image + ')'"
      [style.background-size]="'cover'"
      [style.background-repeat]="'no-repeat'"
      [style.background-position]="'center center'"
      [style.background-attachement]="'fixed'"
    ></div>

    <div class="information-container">
      <div class="header-container">
        <div class="date-container">{{ videoInfo.publishedAt | date: 'fullDate' }}</div>
        <div class="title-container">{{ videoInfo.title }}</div>
      </div>
      <div class="description-text-container">
        <div class="description-header">Description:</div>
        <div class="description-text">{{ videoInfo.description }}</div>
      </div>
      <div *ngIf="videoInfo.statistics" class="statistics-container">
        <app-video-statistics [statistics]="videoInfo.statistics"></app-video-statistics>
      </div>
    </div>

    <div class="video-description-container">
      <app-publishing-indicator [publishingDate]="videoInfo.publishedAt"></app-publishing-indicator>
    </div>
  </div>
</div>
