/* You can add global styles to this file, and also import other style files */
@import './theme/font.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
}

input {
  outline: none;
  font-family: $font-family;
}

.app-wrapper {
  width: 1200px;
}
